
@{
    ViewData["Title"] = "Home Page";

}

@model StudentGradingSystem.Models.Module

@{ 
    <div class="container">
    <br />
    <p><em>Welcome @User.Identity.Name</em></p>
    <p></p>
    <br>
    <div class="row">
        <div class=" col-sm-4 col-md-6 col-md-offset-3">
            <form asp-controller="Home" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Description">Module Name:</label>
                    <div class="col-sm-10">
                        <select asp-for="Description" asp-items="@(new SelectList(@ViewBag.ListOfModules,"Id","Value"))" class="form-control">
                        </select>
                        <a href="#">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </div>
                    <label class="control-label col-sm-2" for="Description">Module Details:</label>
                    <div class="col-sm-10">
                        <select asp-for="Description" asp-items="@(new SelectList(@ViewBag.ModuleDetails,"Id","Value"))" class="form-control">
                        </select>
                        <a href="#">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div> 
    
        <hr />
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-3 mt-4 ">
                Professor
                <a href="">
                    <div class="card">
                        <div class="card-header">
                            <div class="tile purple">
                                <h3 class="title">Create/Publish Questionnaire</h3>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="meta">
                                <p>Here, you get to customize the questionnaire that you will follow throughout this course</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 mt-4">
                Professor
                <!--Click this card will go to Course/Grade Page -->
                <!--different way
                <a href="~/Course/Grade"> -->
                <a asp-area="" asp-controller="Course" asp-action="Grade" >
                    <div class="card" >
                        <div class="card-header">
                            <div class="tile purple">
                                <h3 class="title">Grade Students</h3>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="meta">
                                <p>Here, you will see a list of all your students, on selecting each you can fill out the questionnaire </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 mt-4">
                Professor
                <a href="">
                    <div class="card">
                        <div class="card-header">
                            <div class="tile purple">
                                <h3 class="title">Analytics</h3>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="meta">
                                <p>you get to see the statistics, the entire batch grades, you can compare your progress with the last time<p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-3 mt-4 ">
            Student
            <a href="">
                <div class="card">
                    <div class="card-header">
                        <div class="tile purple">
                            <h3 class="title">Self evaluation</h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="meta">
                            <p>The professor has finalized the aspects on which you will be graded. you can evaluate yourself as per what you think you deserve</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 mt-4">
            Student
            <a href="">
                <div class="card">
                    <div class="card-header">
                        <div class="tile purple">
                            <h3 class="title">Feedback</h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="meta">
                            <p>your grades are out! check the feedback you have received from the professor</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 mt-4">
            Student
            <a href="">
                <div class="card">
                    <div class="card-header">
                        <div class="tile purple">
                            <h3 class="title">Analytics</h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="meta">
                            <p>Compare your grades of this module with the others, See where you stand in the class</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
        <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-3 mt-4 ">
            
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 mt-4">
            Program Manager
            <a href="">
                <div class="card">
                    <div class="card-header">
                        <div class="tile purple">
                            <h3 class="title">Analytics</h3>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="meta">
                            <p>As the program manager, you get to compare the performance of students in different modules</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3 mt-4">
            
        </div>
    </div>
    </div>
}
